
#sharebutton {
position: absolute;
margin: 0px 0px 0px 280px;
}
.fb_share_count_nub_top {
top: 29px !important;
}
.fb_share_count_top {
line-height: 28px !important;;
font-size: 16px !important;;
}
#wrapper {
	background: white;
	padding: 10px 20px 30px 20px;
	text-align:center;
}

li {
	font-size: 17px;
	list-style: none;
	display: inline-block;
	width: 200px;
	padding: 12px 0;
	margin: 0px;
	color: white;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

ul {
	background-color: black;
	margin-top: 20px;
	padding: 0px;
	box-shadow: 0 0 5px black;
}

li:hover {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.about:hover {
	background-color: #ef7901;
}

.disclaimer:hover {
	background-color: #d54421;
}

.results:hover {
	background-color: #98bf0d;
}

.courses:hover {
	background-color: #01b0ec;
}

.graphs:hover {
	background-color: #7449f1;
}

body {
	font-family: ubuntu,verdana,sans-serif;
	color:#333;
	background: #eee;
}

h1 {
	font-size: 2em;
}


.fb-like {
	margin: 50px;
}

#fbshare {
	margin-left: -1200px;
}

.super {
	color: red;
}

h1 {
	font-size: 30px;
	padding: 20px 0;
}

.row-fluid {
	font-size: 15px;
}