body {
	font-family: ubuntu,verdana,sans-serif;
	color:#464646;
	background: white;
	margin: 0px;
	background-image: url('../img/debut_light.png');
}
#socialtootls {
	position: relative;
}
#sharebutton {
position: absolute;
margin: 0px 0px 0px 250px;
}
.fb_share_count_nub_top {
top: 29px !important;
}
.fb_share_count_top {
line-height: 28px !important;;
font-size: 16px !important;;
}
/*1337373407,172653863,JIT Construction: v559610,en_US*/

.FBConnectButton_Simple,
.FBConnectButton_RTL_Simple{background-image:url(http://static.ak.fbcdn.net/images/connect_favicon.png);background-repeat:no-repeat;outline:none;text-decoration:none}
.FBConnectButton_RTL_Simple{background-position:right 0}
.FBConnectButton_Simple .FBConnectButton_Text_Simple{margin:0 0 0 20px;padding-bottom:1px}
.FBConnectButton_RTL_Simple .FBConnectButton_Text_Simple{margin:0 10px 0 0}
a.FBConnectButton_Simple:hover .FBConnectButton_Text_Simple,
a.FBConnectButton_RTL_Simple:hover .FBConnectButton_Text_Simple,
.FBConnectButton_Simple:hover .FBConnectButton_Text_Simple,
.FBConnectButton_RTL_Simple:hover .FBConnectButton_Text_Simple{text-decoration:underline}
.FBConnectButton,
.FBConnectButton_RTL{background:#29447e url(http://static.ak.fbcdn.net/images/connect_sprite.png);background-repeat:no-repeat;cursor:default;display:inline-block;padding:0 0 0 1px;text-decoration:none;outline:none}
.FBConnectButton .FBConnectButton_Text,
.FBConnectButton_RTL .FBConnectButton_Text{background:#5f78ab url(http://static.ak.fbcdn.net/images/connect_sprite.png);border-top:solid 1px #879ac0;border-bottom:solid 1px #1a356e;color:#fff;display:block;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-weight:bold;padding:2px 6px 4px;margin:1px 1px 0 0;text-shadow:none}
a.FBConnectButton,
a.FBConnectButton_RTL ,
.FBConnectButton,
.FBConnectButton_RTL{text-decoration:none}
a.FBConnectButton:active .FBConnectButton_Text,
a.FBConnectButton_RTL:active .FBConnectButton_Text ,
.FBConnectButton:active .FBConnectButton_Text,
.FBConnectButton_RTL:active .FBConnectButton_Text{border-bottom:solid 1px #29447e;border-top:solid 1px #45619d;background:#4f6aa3;text-shadow:none}
.FBConnectButton_BigPun,
.FBConnectButton_RTL_BigPun{background-position:left -60px;font-size:24px;line-height:30px}
.FBConnectButton_BigPun .FBConnectButton_Text{padding:3px 8px 3px 12px;margin-left:38px}
a.FBConnectButton_BigPun:active{background-position:left -99px}
.FBConnectButton_RTL_BigPun{background-position:right -268px}
.FBConnectButton_RTL_BigPun .FBConnectButton_Text{padding:3px 8px 3px 12px;margin-right:39px}
a.FBConnectButton_RTL_BigPun:active{background-position:right -307px}
.FBConnectButton_Large,
.FBConnectButton_RTL_Large{background-position:left -138px;font-size:13px;line-height:16px}
.FBConnectButton_Large .FBConnectButton_Text{margin-left:24px}
a.FBConnectButton_Large:active{background-position:left -163px}
.FBConnectButton_RTL_Large{background-position:right -346px}
.FBConnectButton_RTL_Large .FBConnectButton_Text{margin-right:25px}
a.FBConnectButton_RTL_Large:active{background-position:right -371px}
.FBConnectButton_Medium,
.FBConnectButton_RTL_Medium{background-position:left -188px;font-size:11px;line-height:14px}
.FBConnectButton_Text,
.FBConnectButton_Medium .FBConnectButton_Text{padding:2px 6px 3px 6px;margin-left:21px}
a.FBConnectButton_Medium:active{background-position:left -210px}
.FBConnectButton_RTL_Medium{background-position:right -396px}
.FBConnectButton_RTL_Text,
.FBConnectButton_RTL_Medium .FBConnectButton_Text{padding:2px 6px 3px 6px;margin-right:22px}
a.FBConnectButton_RTL_Medium:active{background-position:right -418px}
.FBConnectButton_Small,
.FBConnectButton_RTL_Small{background-position:left -232px;font-size:10px;line-height:10px}
.FBConnectButton_Small .FBConnectButton_Text{padding:2px 6px 3px;margin-left:17px}
a.FBConnectButton_Small:active ,
.FBConnectButton_Small:active{background-position:left -250px}
.FBConnectButton_RTL_Small{background-position:right -440px}
.FBConnectButton_RTL_Small .FBConnectButton_Text{padding:2px 6px;margin-right:18px}
a.FBConnectButton_RTL_Small:active{background-position:right -458px}
.FBConnectButton_Inactive{-ms-filter:'alpha(opacity=40)';filter:alpha(opacity = 40);-khtml-opacity:.4;-moz-opacity:.4;opacity:.4}
.fb_share_count_wrapper{position:relative;float:left}
.fb_share_count{background:#b0b9ec none repeat scroll 0 0;color:#333;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;text-align:center}
.fb_share_count_inner{background:#e8ebf2;display:block; min-height: 28px;}
.fb_share_count_right{margin-left:-1px;display:inline-block}
.fb_share_count_right .fb_share_count_inner{border-top:solid 1px #e8ebf2;border-bottom:solid 1px #b0b9ec;margin:1px 1px 0 1px;font-size:10px;line-height:10px;padding:2px 6px 3px;font-weight:bold}
.fb_share_count_top{display:block;letter-spacing:-1px;line-height:34px;margin-bottom:7px;font-size:22px;border:solid 1px #b0b9ec}
.fb_share_count_nub_top{border:none;display:block;position:absolute;left:7px;top:35px;margin:0;padding:0;width:6px;height:7px;background-repeat:no-repeat;background-image:url(http://m-static.ak.fbcdn.net/rsrc.php/v1/yU/r/bSOHtKbCGYI.png)}
.fb_share_count_nub_right{border:none;display:inline-block;padding:0;width:5px;height:10px;background-repeat:no-repeat;background-image:url(http://m-static.ak.fbcdn.net/rsrc.php/v1/yX/r/i_oIVTKMYsL.png);vertical-align:top;background-position:right 5px;z-index:10;left:2px;margin:0 2px 0 0;position:relative}
.fb_share_no_count{display:none}
.fb_share_size_Small .fb_share_count_right .fb_share_count_inner{font-size:10px}
.fb_share_size_Medium .fb_share_count_right .fb_share_count_inner{font-size:11px;padding:2px 6px 3px;letter-spacing:-1px;line-height:14px}
.fb_share_size_Large .fb_share_count_right .fb_share_count_inner{font-size:13px;line-height:16px;padding:2px 6px 4px;font-weight:normal;letter-spacing:-1px}

.logo {
	position: absolute;
	top: 20px;
	left: 100px;
}

.logo img {
	width: 140px;
}

#header a {
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	color: #464646;
}
#wrapper {
	/*box-shadow: 0 0 10px 2px #333;*/
	border-top: none;
	/*padding: 10px 20px 30px 20px;*/
	/*margin: 20px 3%;*/
	text-align:center;
}

table {
	border: 2px solid #dadada;
	margin-top: 40px;
}

th,td {
	width: 580px;
	text-align:center;
	padding-right: 5px;
	padding-left: 5px;
}
tr th,td:first-child{
	width: 130px;
}
tr th,td:last-child{
	width: 130px;
}

li {
	list-style: none;
	display: inline-block;
	width: 130px;
	padding: 10px 0;
	margin: 0px;
	color: white;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

ul {
	background-color: rgb(71, 145, 194);
	margin-top: -10px;;
	padding: 0px;
	box-shadow: 0 0 5px rgb(71, 145, 194);
}

li:hover {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.about:hover {
	background-color: #ef7901;
}

.disclaimer:hover {
	background-color: #d54421;
}

.results:hover {
	background-color: #98bf0d;
}

.courses:hover {
	background-color: #01b0ec;
}

.graphs:hover {
	background-color: #7449f1;
}

.ranks:hover{
	background-color: #E3AE57;
}
#socialtools{
	min-height: 65px;
	margin-top: 50px;
}

p {
	padding: 0px 25%;
	text-align: justify;
	font-family: ubuntu,verdana,sans-serif;
	font-size: 18px;
}

.fb-like {
	margin: 50px;
}

th a {
	color: black;
}

tr:nth-child(even) {
	background-color: #eeeeee;
}

a{
color: rgb(71, 145, 194);
}

#tablecontainer a {
	margin-right: 5px;
}

.search-result a {
	margin-right: 5px;
}

#fbshare {
	margin-left: -1200px;
}

.super {
	color: red;
}

form { 
		font-family: 'Yanone Kaffeesatz', arial, sans-serif;
		border: 1px solid #ddd; 
		padding: 30px 40px 0px 40px; 
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		background: #fff;
		text-align: center;
		margin-bottom: 50px;
		
				
		/* -- CSS3 - define rounded corners for the form -- */	
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px; 		
		
		/* -- CSS3 - create a background graident -- */
		background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFFFFF)); 
		background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE); 
		
		/* -- CSS3 - add a drop shadow -- */
		-webkit-box-shadow:0px 0 50px #ccc;
		-moz-box-shadow:0px 0 50px #ccc; 
		box-shadow:0px 0 50px #ccc;		 		
	}

	.search-head {
		font-size: 25px;
		color: #555; 
		margin: 0 0 20px 0; 
	}	
	
	fieldset { border: none; }
	
	#details { 
		//float: left;
		width: 100%; 
	}
	
	input { 		
		padding: 8px; 
		margin: 4px 0 20px 0; 
		background: #fff; 
		width: 220px; 
		font-size: 14px; 
		color: #555; 
		border: 1px #ddd solid;
		
		/* -- CSS3 Shadow - create a shadow around each input element -- */ 
		-webkit-box-shadow: 0px 0px 4px #aaa;
		-moz-box-shadow: 0px 0px 4px #aaa; 
		box-shadow: 0px 0px 4px #aaa;
		
		/* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */		
		-webkit-transition: background 0.3s linear;							
	}
	
	input:hover, textarea:hover { 
		background: #eee; 
	}
		
	input.submit { 	
		width: 150px; 
		color: #eee; 
		text-transform: uppercase; 
		margin-top: 10px;
		background-color: #18a5cc;
		border: none;
		
		/* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
		-webkit-transition: -webkit-box-shadow 0.3s linear;
		
		/* -- CSS3 - Rounded Corners -- */
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px;
		border-radius: 4px; 
						
		/* -- CSS3 Shadow - create a shadow around each input element -- */ 
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18a5cc), to(#0a85a8)); 
		background: -moz-linear-gradient(25% 75% 90deg,#0a85a8, #18a5cc);		
	} 
	
	input.submit:hover { 		
		-webkit-box-shadow: 0px 0px 20px #555;
		-moz-box-shadow: 0px 0px 20px #aaa; 
		box-shadow: 0px 0px 20px #555;	
		cursor:  pointer; 
	}

	select {
		margin: 0px;
		padding: 6px;
		font-family: 'Yanone Kaffeesatz', arial, sans-serif;
		font-size: 18px;
		margin-bottom: 10px;
		margin-right: 10px;
	}

	#container {
		text-align: center;
	}

	h3 {
		padding: 0px;
		margin: 0px;
	}

	div.search-result table{
		margin:20px auto;
	}

	input.search-box{
		width:300px;
		border:1px solid #ddd;
		border-top-left-radius:1em;
		border-bottom-left-radius:1em;
		color:#222;
		outline:none;
	}
	input.search-box:hover{
		background:#fff;
		outline:none;
	}
	input.search-box:focus{
		background:#fff;
		outline:none;
	}
	input.search-submit{
		border-top-right-radius:1em;
		border-bottom-right-radius:1em;
	}

	#state {
		margin: 1%;
		padding: 0;
		width: 97%;
	}

	#last_yr, #current {
   		float: left;
   		width: 46.5%;
   		margin: 1% 0 1% 1%;
   		padding: 1%;
	}

	#current {
		float: right;
		margin: 1% 1% 1% 0;
	}

	#state_pie {
		margin: 1%;
		padding: 0;
		width: 97%;
	}

	#last_yr1, #current1 {
   		float: left;
   		height: 97%;
   		width: 46.5%;
   		margin: 1% 0 1% 1%;
   		padding: 1%;
	}

	#current1 {
		float: right;
		margin: 1% 1% 1% 0;
	}

	#age {
		margin: 1%;
		padding: 0;
		width: 97%;
	}

	#last_yr2, #current2 {
   		float: left;
   		width: 46.5%;
   		margin: 1% 0 1% 1%;
   		padding: 1%;
	}

	#current2 {
		float: right;
		margin: 1% 1% 1% 0;
	}

#header h3{
	margin-bottom: 20px;
}
h1{
	margin-bottom: 5px;
}	