---
layout: default
title: JEE Advanced 2013 Analysis
year : 2013
pathtoroot: ../
meta:
  - key: title
    value: JEE 2013 Ranklist
  - key: site_name
    value: SDSLabs, IIT Roorkee
  - key: type
    value: website
  - key: url
    value: http//jee.sdslabs.co/
  - key: description
    value: JEE 2013 complete ranklist compiled by SDSLabs, IIT Roorkee
  - key: image
    value: https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/162003_182484805131346_636893991_n.jpg
  - key: fbapp_id
    value: 196618997019945
  - key: Keywords
    value: jee, iitjee, sdslabs, IIT JEE namewise, JEE Adanced 2013
  - key: sds
    value: jee-2013-result
  - key: creator
    value: sdslabs, IIT Roorkee
  - key: google
    value: notranslate
link:
  - rel: stylesheet
    href: ../css/style.css
  - rel: shortcut icon
    href: img/favicon.ico
---
<!-- Content
    ================================================== -->
<div id="fb-root"></div>
{% include FBLikesScript.html %}
<div id="wrapper">
	<h1>
		JEE Advanced 2013 Namewise Results
	</h1>

	<div id="header">
		{% include header.html %}
		<h1>
				Analysis & Graphs
		</h1>
	</div>
	<div id="container">
		<h3>
			To view the complete rank list, <a href="../">Click Here</a>
		</h3>
		<div id="socialtools">
			{% include socialtools.html %}
		</div>
			
	</div>
				<h2>State Wise Selection Counts<h2>
					<div id="last_yr">
						<h3>2012</h3>
						<iframe width="500" height="350" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?gco_region=IN&amp;gco_dataMode=regions&amp;containerId=gviz_canvas&amp;q=select+gvizregion(col26)%2C+count()%2C+col26+from+1frg81WsXZH3SVxx-KLwygZXIAd18YiC0b63XKbE&amp;qrs=+where+gvizregion(col26)+%3E%3D+&amp;qre=+and+gvizregion(col26)+%3C%3D+&amp;qe=+group+by+col26+limit+31&amp;viz=GVIZ&amp;t=MAP&amp;width=500&amp;height=350"></iframe>
					</div>

					<div id = "current">
						<h3>2013</h3>
						<iframe width="500" height="350" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=MAP&amp;gco_region=IN&amp;gco_dataMode=regions&amp;containerId=gviz_canvas&amp;q=select+gvizregion(col0)%2C+col1%2C+col0+from+1mfwBA1WGCQfQhhDLPV6wBkQfHK3W1IuRUB7Z3zA&amp;qrs=+where+gvizregion(col0)+%3E%3D+&amp;qre=+and+gvizregion(col0)+%3C%3D+&amp;qe=+limit+29&amp;width=500&amp;height=300"></iframe>
					</div>
<br>
<div id = "state_pie">
					<h2>State Wise Selection Counts</h2>
					<div id = "last_yr1">
						<h3>2012</h3>
						<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?&amp;containerId=gviz_canvas&amp;q=select+col26%2C+count()+from+1i1zLtwgm8U4Smlf0JI5F5O90ozhTfYpD9wle3U4+where+col4+%3E+&#39;0&#39;&amp;qrs=+and+col26+%3E%3D+&amp;qre=+and+col26+%3C%3D+&amp;qe=+group+by+col26+limit+30&amp;viz=GVIZ&amp;t=PIE&amp;width=500&amp;height=300"></iframe>
					</div>

					<div id = "current1">
						<h3>2013</h3>
						<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=PIE&amp;containerId=gviz_canvas&amp;q=select+col0%2C+col1+from+1mfwBA1WGCQfQhhDLPV6wBkQfHK3W1IuRUB7Z3zA&amp;qrs=+where+col0+%3E%3D+&amp;qre=+and+col0+%3C%3D+&amp;qe=+limit+29&amp;width=500&amp;height=300"></iframe>
					</div>
				</div>

				<div id="age">
					<h2>Age Based Selection Count</h2>
					<div id="last_yr2">
						<h3>2012</h3>
						
							<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=PIE&amp;containerId=gviz_canvas&amp;q=select+col2%2C+count()+from+1A0yLkTX-DNFnDxH9F3RWI-z_aTR0qlwI8xahkFw&amp;qrs=+where+col2+%3E%3D+&amp;qre=+and+col2+%3C%3D+&amp;qe=+group+by+col2+limit+11&amp;width=500&amp;height=300"></iframe>
						</div>
					<div id="current2">
						<h3>2013</h3>
					
						<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=PIE&amp;containerId=gviz_canvas&amp;q=select+col11%2C+count()+from+1uhMalzmRlw0AZDMR5H3ttJ3XAP9jpTBfSFBzoEE&amp;qrs=+where+col11+%3E%3D+&amp;qre=+and+col11+%3C%3D+&amp;qe=+group+by+col11+limit+10&amp;width=500&amp;height=300"></iframe>
					</div>
				</div>
			</div>





<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{{page.pathtoroot}}js/resize.js"></script>
<script src="transition.js"></script>
<script src="raphael-2.0.2.min.js"></script>
<script src="morris.js"></script>


{% include footer.html %}
<br>
<script>
    $.getJSON("http://graph.facebook.com/?id=http://jee.sdslabs.co/",function(x){$('.fb_share_count_inner').text(x.shares)})
</script>	