<div class="logo"><a href="http://facebook.com/SDSlabs"><img src="img/logo.png" alt=""></a>
	</div>
	
	<ul align="center">
           		<a href="about.html" target="_blank"><li class="about">About</li></a>
				<a href="disclaimer.html" target="_blank"><li class="disclaimer">Disclaimer</li></a>
				<a href="index.html" target="_blank"><li class="results">Rank List</li></a>
				<a href="./graph/index.html" target="_blank"><li class="graphs">Analysis & Graphs</li></a>
				<a href="./2012/index.html" target="_blank"><li class="courses">2012 Results</li></a>
				<!--<a href="/"><li class="courses">Course Allotment <sup class="super">NEW</sup></li></a>
				<a href="/graph/index.html" target="_blank"><li class="graphs">Analysis & Graphs</li></a>-->
	</ul>