<div class="logo"><a href="http://facebook.com/SDSlabs"><img src="{{ page.pathtoroot }}img/logo.png" alt=""></a>
	</div>
	
	<ul align="center">
           		<a href="{{page.pathtoroot}}about.html" target="_blank"><li class="about">About</li></a>
				<a href="{{page.pathtoroot}}disclaimer.html" target="_blank"><li class="disclaimer">Disclaimer</li></a>
				<a href="{{page.pathtoroot}}index.html" target="_blank"><li class="results">Rank List</li></a>
				<a href="{{page.pathtoroot}}graph/index.html" target="_blank"><li class="graphs">Analysis & Graphs</li></a>
				<a href="{{page.pathtoroot}}2012/index.html" target="_blank"><li class="courses">2012 Results</li></a>
				<!--<a href="{{ page.pathtoroot }}"><li class="courses">Course Allotment <sup class="super">NEW</sup></li></a>
				<a href="{{ page.pathtoroot }}graph/index.html" target="_blank"><li class="graphs">Analysis & Graphs</li></a>-->
	</ul>