		
			<div id="fbshare">
				<a name="fb_share" type="box_count" share_url="http://jee.sdslabs.co/" id="sharebutton" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fjee.sdslabs.co%2F&amp;src=sp" style="text-decoration: none; ">
					<span class="fb_share_size_Small fb_share_count_wrapper">
						<span></span>
						<span class="fb_share_count_nub_top "></span>
						<span class="fb_share_count  fb_share_count_top">
							<span class="fb_share_count_inner"></span>
						</span>
						<span class="FBConnectButton FBConnectButton_Small" style="cursor:pointer;">
							<span class="FBConnectButton_Text">Share!</span></span>
					</span>
				</a>
			</div>
			<div style="margin:0px;" class="fb-like" data-href="https://www.facebook.com/SDSLabs" data-send="true" data-width="550" data-show-faces="true" data-font="trebuchet ms">
			</div>
