---
layout: default
title: JEE Advanced 2014 Results
year : 2014
pathtoroot: ../
meta:
  - key: title
    value: JEE 2014 Ranklist
  - key: site_name
    value: SDSLabs, IIT Roorkee
  - key: type
    value: website
  - key: url
    value: http//jee.sdslabs.co/
  - key: description
    value: JEE 2014 complete ranklist compiled by SDSLabs, IIT Roorkee
  - key: image
    value: http://jee.sdslabs.co/img/logo.png
  - key: fbapp_id
    value: 196618997019945
  - key: Keywords
    value: jee, iitjee, sdslabs, IIT JEE namewise, JEE Adanced 2014
  - key: sds
    value: jee-2014-result
  - key: creator
    value: sdslabs, IIT Roorkee
  - key: google
    value: notranslate
link:
  - rel: stylesheet
    href: ../css/style.css
  - rel: shortcut icon
    href: ../img/favicon.ico
---
<!-- Content
    ================================================== -->
<div id="fb-root"></div>
{% include FBLikesScript.html %}
<div id="wrapper">
	<h1>
		JEE Advanced 2014 Namewise Results
	</h1>

	<div id="header">
		{% include header2013.html %}
	</div>
	<div id="container" style="margin-top: 100px;">

			<p>
				This listing was prepared by SDSLabs, IIT Roorkee. <br>
				<a href="http://fb.com/sdslabs">SDSLabs</a> is a group of students in IIT-Roorkee  working on the forefront of innovation and new technology.<br>
				We know you're here for the JEE listing. Go on <a href="index.html">here</a>. We won't tell anyone you checked their rank.
				<p> - Team SDSLabs</p> <br />
				Find us on <a href="http://fb.com/sdslabs">Facebook</a> and <a href="https://plus.google.com/101733513430697982016/" rel="me">Google +</a>
			</p>
			
	</div>
	<div id="socialtools">
		{% include socialtools.html %}
	</div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
		$.getJSON("http://graph.facebook.com/?id=http://jee.sdslabs.co/",function(x){$('.fb_share_count_inner').text(x.shares)})
</script>
{% include footer.html %}
<br>