---
layout: default
pathtoroot: ../../
title: JEE-2012 Analysis
year : 2012
meta:
  - key: title
    value: JEE 2012 Ranklist
  - key: site_name
    value: SDSLabs, IIT Roorkee
  - key: type
    value: website
  - key: url
    value: http//jee.sdslabs.co/
  - key: description
    value: IIT JEE 2012 results analysis and graphs
  - key: image
    value: https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/162003_182484805131346_636893991_n.jpg
  - key: fbapp_id
    value: 196618997019945
  - key: Keywords
    value: jee, iitjee, sdslabs, arpit, agarwal, engineering, technology, ranks, marks
  - key: author
    value: sdslabs, IIT Roorkee
  - key: google
    value: notranslate
link:
  - rel: stylesheet
    href: ../../css/bootstrap.min.css
  - rel: stylesheet
    href: ../../css/harshil.css
  - rel: icon
    href: ../favicon.ico
---

		
		<script data-main="../js/cs!script" src="../js/require-jquery.js"></script>
		<div id="fb-root"></div>
		{% include FBLikesScript.html %}
		<div class="container-fluid" id="wrapper">
			<h1>
				JEE-2012 Namewise Results
			</h1>
			<div id="header">
				{% include header2012.html %}
				<br>
				<h1>
					Analysis & Graphs
				</h1>
			</div>	
			
				<div id="container">
			
					<h3>
						To view the complete rank list, <a href="../">Click Here</a>
					</h3>
					<br>
					<div id="socialtools">		
							{% include socialtools.html %}
					</div>
					<br>
				</div>

                <h2>Institute Distribution (top 1000 ranks)</h2>
                                <iframe width="960" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=PIE&amp;containerId=gviz_canvas&amp;q=select+col0%2C+col1+from+15FnY0NcgtmUHeeRwfT_K5TFHUcmnwDGWbMgYc50&amp;qrs=+where+col0+%3E%3D+&amp;qre=+and+col0+%3C%3D+&amp;qe=+limit+9&amp;width=960&amp;height=500"></iframe>

                
			<h2>JEE 2012 Rankwise Marks (for >100 ranks)</h2>
				<div id="rank">Loading... Please wait</div>
				<div id="note"></div>
				<h2>Gender Wise Distribution Of Selected Candidates</h2>
				<img src="ratio.jpg">
				<h2>Attempt Distribution of Selected Candidates</h2>
				<img src="attempt.jpg">
				<h2>State Wise Selection Counts</h2>
				<iframe width="500" height="350" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?gco_region=IN&amp;gco_dataMode=regions&amp;containerId=gviz_canvas&amp;q=select+gvizregion(col26)%2C+count()%2C+col26+from+1frg81WsXZH3SVxx-KLwygZXIAd18YiC0b63XKbE&amp;qrs=+where+gvizregion(col26)+%3E%3D+&amp;qre=+and+gvizregion(col26)+%3C%3D+&amp;qe=+group+by+col26+limit+31&amp;viz=GVIZ&amp;t=MAP&amp;width=500&amp;height=350"></iframe>
				<h2>Age Based Selection Count</h2>
				<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=PIE&amp;containerId=gviz_canvas&amp;q=select+col2%2C+count()+from+1A0yLkTX-DNFnDxH9F3RWI-z_aTR0qlwI8xahkFw&amp;qrs=+where+col2+%3E%3D+&amp;qre=+and+col2+%3C%3D+&amp;qe=+group+by+col2+limit+11&amp;width=500&amp;height=300"></iframe>
				<h2>Center Wise Selection Counts</h2>
				<iframe width="960" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?&amp;containerId=gviz_canvas&amp;q=select+col25%2C+count()+from+1frg81WsXZH3SVxx-KLwygZXIAd18YiC0b63XKbE&amp;qrs=+where+col25+%3E%3D+&amp;qre=+and+col25+%3C%3D+&amp;qe=+group+by+col25+limit+130&amp;viz=GVIZ&amp;t=PIE&amp;width=960&amp;height=500"></iframe>
				<br>



				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
				<script src="../../graph/transition.js"></script>
				<script src="../../graph/raphael-2.0.2.min.js"></script>
				<script src="../../graph/morris.js"></script>
		</div>
			
	</div>	
	{% include footer.html %}
			<br>

				
			  	
        <script>
            $.getJSON("http://graph.facebook.com/?id=http://jee.sdslabs.co/",function(x){$('.fb_share_count_inner').text(x.shares)})
        </script>
<script src="{{page.pathtoroot}}js/resize.js"></script>
		
	</body>
</html>
