<!DOCTYPE html>
<html>
<head>
	{% for item in page.meta %}
		<meta property="og:{{ item.key }}" content="{{ item.value }}"/>
	{% endfor %}
		<meta property="fb:admins" content="100006280205504"/>
		<meta property="fb:app_id" content="196618997019945"/>
	<meta charset="utf-8"/> 
	<title>{{page.title}}</title>
	{% for item in page.link %}
		<link rel="{{ item.rel }}" href="{{ item.href }}">
	{% endfor %}
	{% include googleanalytics.html %}
</head>
<body align="center" lang="en">
	{{ content }}
</body>
</html>